{% extends "base.html" %}
{% block content %}
    <style>
        .flex-container {
            display: flex;
            background-color: #ffffff;
            flex-direction: row;
            justify-content: space-around;
        }

        /*noinspection ALL*/
        .flex-item {
            background-color: lightgrey;
            flex-shrink: 0;
            flex-grow: 2;
        }

        .flex-container-col {
            display: flex;
            background-color: #ffffff;
            flex-direction: column;
            justify-content: space-between;
        }

        .app-wrapper {
            display: flex;
            background-color: #f8efc0;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .small-item {
            flex-grow: 1;
            flex-shrink: 2;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .help-block {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        th, td {
            padding: 5px;
        }

        @media (max-width: 768px) {
            body {
                font-size: 3.0vw;
            }
            input {
                width: 10.0vw
            }
        }

    </style>

    <div id="character-builder"></div>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/bundle.js') }}"></script>

{% endblock %}