{% extends "base.html" %}
{% block content %}
    <style>
        .flex-container {
            display: flex;
            background-color: #ffffff;
            flex-direction: row;
            justify-content: space-around;
        }

        /*noinspection ALL*/
        .flex-item {
            flex-shrink: 0;
            flex-grow: 2;
        }

        .flex-container-col {
            display: flex;
            background-color: #ffffff;
            flex-direction: column;
            justify-content: space-between;
        }

        .app-wrapper {
            display: flex;
            background-color: #f8efc0;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .small-item {
            flex-grow: 1;
            flex-shrink: 2;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .help-block {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .justify-start {
            justify-content: flex-start;
        }

        .bg-none {
            background-color: transparent;
        }

        .bordered {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        .modal-body {
            max-height: calc(100vh - 210px);
            overflow-y: auto;
            display: block;
        }

        .field-block {
            background-color: black;
            text-align: center;
            color: white;
            padding-bottom: 2px;
            padding-top: 5px;
        }

        .padded {
            padding: 5px
        }

        textarea {
            resize: none;
        }

        #triangle-left {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 5px solid black;
            border-bottom: 5px solid transparent;
        }

        #triangle-right {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid black;
            border-bottom: 5px solid transparent;
        }

        p {
            width: inherit;
            white-space: normal;
            display: block;
        }

        th, td {
            padding: 5px;
        }

        @media (max-width: 768px) {
            body {
                font-size: 3.0vw;
            }
            input {
                width: 10.0vw
            }
        }

    </style>

    <div id="character-builder"></div>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/bundle.js') }}"></script>

{% endblock %}