{% extends "base.html" %}
{% block content %}
    <style>
        .flex-container {
            display: flex;
            background-color: #ffffff;
            flex-direction: row;
            justify-content: flex-start;
        }

        .flex-item {
            flex-shrink: 0;
            flex-grow: 2;
        }

        .flex-container-col {
            display: flex;
            background-color: #ffffff;
            flex-direction: column;
            justify-content: flex-start;
        }

        .app-wrapper {
            display: flex;
            background-color: #f8efc0;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .small-item {
            flex-grow: 1;
            flex-shrink: 2;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .help-block {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .justify-start {
            justify-content: flex-start;
        }

        .justify-end {
            justify-content: flex-end;
        }

        .justify-center {
            justify-content: center;
        }

        .bordered {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        .modal-body {
            max-height: calc(100vh - 210px);
            overflow-y: auto;
            display: block;
        }

        .field-block {
            background-color: black;
            text-align: center;
            color: white;
            padding-bottom: 2px;
            padding-top: 5px;
            border-bottom-right-radius: 20%;
            border-bottom-left-radius: 20%;
            border-bottom-style: outset;
            border-top-style: groove;
            border-left-style: outset;
            border-right-style: ridge;
            border-color: silver;
            border-top-color: cornsilk;
        }

        .padded {
            padding: 5px
        }
        .add-static {
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom-color: silver;
            text-align: center;
            outline: none;
            background-color: transparent;
            font-family: inherit;
            font-size: inherit;
        }
        .weapon-notes {
            margin-right: 5%;
            margin-left: 5%;
            width: 90%;
        }
        .text {
            border: none;
            outline: none;
            background-color: transparent;
            font-family: inherit;
            font-size: inherit;
        }

        #triangle-left {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 5px solid black;
            border-bottom: 5px solid transparent;
        }

        #triangle-right {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid black;
            border-bottom: 5px solid transparent;
        }

        p {
            width: inherit;
            white-space: normal;
            display: block;
        }

        th, td {
            padding: 5px;
        }
        input.xs {
            width: 20%
        }
        input.small {
            width: 30%
        }
        input.medium {
            width: 60%
        }
        input.large {
            width: 90%
        }
        <!-- /*xs screen*/ -->
        @media screen and (max-width: 414px) {
            .abilities-input {
                width:40px;
                height:40px;
                text-align: center;
            }
            .ac-modifiers {

            }
            .ammunition{
                width: 25px;
            }
            .add-box {
                width: 25px;
            }
            .add-static {
                width: 15px;
            }
            .critical {
                width: 20px;
            }
            .help-block {
                font-size: smaller;
            }
            .save-modifiers {

            }
            .weapon-field {
                justify-content: center;
            }
            body {
                font-size: 3.0vw;
            }

            textarea {
                resize: none;
            }


        }
        <!-- /*med+ screen*/ -->
        @media screen and (min-width: 768px) {
            .abilities-input {
                width:40px;
                height:40px;
                text-align: center;
            }
            .ammunition{
                width: 45px;
            }
            .ac-modifiers {
            }
            .add-box {
                width: 45px;
            }
            .add-static {
                width: 45px;
            }
            .critical {
                width: 35px;
            }
            .save-modifiers {
                margin-top: 20px;
                width: 180px;
                height: 250px;
            }
            .weapon-field {
                justify-content: center;
            }
            textarea {
                resize: none;
            }
        }

    </style>

    <div id="character-builder"></div>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/bundle.js') }}"></script>

{% endblock %}